@*
%*
*.lib
bk*
Thumbs.db
Desktop.ini
.DS_Strore
.DS_Store
._*
.svn
_notes
.BridgeSort
.BridgeLabelsAndRatings
*.log
*コピー*
_*.*
*BK*
*.bak
uploadfiles/*
templates_c/*
data/*
log/*
docker/mysql/storage/*
www/slim3/resources/cache/*
!.gitkeep
.idea
